@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --Brightorange: hsl(31, 77%, 52%);
  --Darkcyan: hsl(184, 100%, 22%);
  --Verydarkcyan: hsl(179, 100%, 13%);
  --Transparentwhiteparagraphs: hsla(0, 0%, 100%, 0.75);
  --Verylightgraybackgroundheadingsbuttons: hsl(0, 0%, 95%);
  --FFBigShoulders: "Big Shoulders Display", cursive;
  --FFLexend: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin: auto;
  background-color: var(--Verylightgraybackgroundheadingsbuttons);
}

body {
  height: 100vh;
  padding: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.card-container {
  width: 920px;
  height: 500px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  border-radius: 0.5rem;
  background-color: var(--Brightorange);
}

.darkgreencard {
  background-color: var(--Verydarkcyan);
}

.footer-text {
  font-family: var(--FFLexend);
  color: var(--Darkcyan);
  font-size: 1rem;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  text-transform: uppercase;
}
